server:
    port: 9010

spring:
  profiles:
    active: local

  application:
    name: highlight-feed-api
  
  datasource:
    url: jdbc:postgresql://localhost:5432/feed-service
    username: donghyeon
    password: 1234
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false
