version: '3.8'

services:
  feed-postgres:
    image: postgres:15
    container_name: feed-postgres
    environment:
      POSTGRES_USER: donghyeon
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: feed-service
    command: >
      postgres
      -c max_connections=200
      -c shared_buffers=512MB
      -c work_mem=6MB
      -c maintenance_work_mem=128MB
      -c tcp_keepalives_idle=600
      -c tcp_keepalives_interval=30
      -c tcp_keepalives_count=3
      -c log_connections=on
      -c log_disconnections=on
      -c log_min_duration_statement=1000`
      -c checkpoint_completion_target=0.9
      -c wal_buffers=16MB
      -c track_io_timing=on
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U donghyeon -d feed-service"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - feed-network

  feed-redis:
    image: redis:7-alpine
    container_name: feed-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - feed-network

  locust-master:
    image: locustio/locust
    container_name: locust-master
    ports:
      - "8089:8089"
    volumes:
      - ./:/mnt/locust
    command: -f /mnt/locust/locustfile-feedItem.py --master -H http://host.docker.internal:9010
    networks:
      - feed-network

  locust-worker:
    image: locustio/locust
    volumes:
      - ./:/mnt/locust
    command: -f /mnt/locust/locustfile-feedItem.py --worker --master-host locust-master
    depends_on:
      - locust-master
    networks:
      - feed-network

volumes:
  postgres_data:
  redis_data:

networks:
  feed-network:
    driver: bridge
